a:hover,
a:focus {
  text-decoration: none !important;
  opacity: 0.8;
}

.property-item-content {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
}

.table-property {
  max-height: 400px;
}
