<form class="password-reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <h2 class="app-name">Recuperar Contraseña</h2>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input formControlName="email" type="text" name="email" id="email" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">El e-mail es requerido</div>
      <div *ngIf="f.email.errors.email">El e-mail debe ser una dirección valida</div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm
    class="form-group">
    <a [routerLink]="['/auth/login']">Volver a la pagina de incio de sesión</a>
    <button mat-raised-button color="primary" [disabled]="loading">Enviar</button>
  </div>
</form>
