<section fxLayout="column" style="width: 100%;" fxLayoutGap="0.5rem">
  <div class="page-sub-title" *ngIf="showTitle">Resumen</div>

  <section
    fxLayout.lt-sm="column"
    fxLayout="row"
    fxLayoutGap="0.5rem"
  >
    <section
      fxLayout.lt-sm="row"
      fxFlex.lt-sm
      fxLayout="column"
      fxLayoutGap="0.5rem"
      fxFlex="25"
      [fxFlexOrder]="col0"
    >
      <mat-card fxFlex.lt-sm="30">
        <mat-card-header>
          <mat-card-title>Progreso Total</mat-card-title>
        </mat-card-header>

        <ng-container *ngIf="{ holdingL: holdingLatest$ | async, holdingB: holdingBefore$ | async } as values;">
          <section>
            <div class="indicator-rent-content">{{ values.holdingL?.progress }}%</div>
            <mat-progress-bar mode="determinate" [value]="values.holdingL?.progress"></mat-progress-bar>
          </section>
        </ng-container>
      </mat-card>

      <mat-card fxFlex.lt-sm="69">
        <mat-card-header fxLayout="row" fxLayoutAlign="start start">
          <section fxFlex="auto">
            <mat-card-title>Holding</mat-card-title>
            <mat-card-subtitle>{{ dateMonth | date:'MMMM yyyy':'':'cl' | titlecase }}</mat-card-subtitle>
          </section>
          <a *ngIf="showLink" routerLink="/leases">
            <mat-icon class="icon-display">arrow_upward</mat-icon>
          </a>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
          <ng-container *ngIf="pieDate$ | async; let data">
            <app-pie [data]="data"></app-pie>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </section>

    <section [fxFlexOrder]="col1" fxLayout="column" fxLayoutGap="0.5rem" fxFlex>
      <mat-card class="mat-card-padding">
        <mat-card-header>
          <mat-card-title>Indicador de Arriendo</mat-card-title>
          <mat-card-subtitle>Holding</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngIf="{ holdingL: holdingLatest$ | async, holdingB: holdingBefore$ | async } as values;">
          <mat-card-content fxLayout="row wrap" fxLayoutGap.gt-sm="1rem">
            <section class="indicator-rent-container" fxFlex.lt-sm="50" fxFlex="25">
              <div class="indicator-rent-title">Total Arriendo</div>
              <div class="indicator-rent-content">{{ values.holdingL?.expected | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
              <div fxLayoutAlign="start center">
                <mat-icon [ngClass]="selectClassIcon(getOperator(values.holdingL?.expected, values.holdingB?.expected))">arrow_upward</mat-icon>
                <span [ngClass]="selectClasstitle(getOperator(values.holdingL?.expected, values.holdingB?.expected))">{{ getDiff(values.holdingL?.expected, values.holdingB?.expected)}}%&nbsp;</span>
                <span class="indicator-sub-title-gray">mes pasado</span>
              </div>
            </section>
            <section class="indicator-rent-container" fxFlex.lt-sm="50" fxFlex="25">
              <div class="indicator-rent-title">
                Total Pagado <mat-icon class="icon-title-primary">done</mat-icon>
              </div>
              <div class="indicator-rent-content">{{ values.holdingL?.paid | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
              <div fxLayoutAlign="start center">
                <mat-icon [ngClass]="selectClassIcon(getOperator(values.holdingL?.paid, values.holdingB?.paid))">arrow_upward</mat-icon>
                <span [ngClass]="selectClasstitle(getOperator(values.holdingL?.paid, values.holdingB?.paid))">{{ getDiff(values.holdingL?.paid, values.holdingB?.paid)}}%&nbsp;</span>
                <span class="indicator-sub-title-gray">mes pasado</span>
              </div>
            </section>
            <section class="indicator-rent-container" fxFlex.lt-sm="50" fxFlex="25">
              <div class="indicator-rent-title">
                Total Adeudado <mat-icon class="icon-title-accent">priority_high</mat-icon>
              </div>
              <div class="indicator-rent-content">{{ values.holdingL?.owed | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
              <div fxLayoutAlign="start center">
                <mat-icon [ngClass]="selectClassIcon(getOperator(values.holdingL?.owed, values.holdingB?.owed))">arrow_upward</mat-icon>
                <span [ngClass]="selectClasstitle(getOperator(values.holdingL?.owed, values.holdingB?.owed))">{{ getDiff(values.holdingL?.owed, values.holdingB?.owed)}}%&nbsp;</span>
                <span class="indicator-sub-title-gray">mes pasado</span>
              </div>
            </section>
            <section
              *ngIf="profitability$ | async; let item;"
              class="indicator-rent-container" fxFlex.lt-sm="50" fxFlex
            >
              <div class="indicator-rent-title">
                Rentabilidad
              </div>
              <div class="indicator-rent-content">{{ item.profitability }}%</div>
            </section>
          </mat-card-content>
        </ng-container>
      </mat-card>

      <mat-card class="mat-card-padding">
        <mat-card-content class="companies-container" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem grid">
          <div *ngFor="let lease of companiesIndicators$ | async" fxLayout="column" fxFlex.lt-sm="100" fxFlex="33">
            <div class="indicator-company-title">{{ lease.company_name }}</div>
            <div class="indicator-company-content">{{ lease.expected | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
            <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5rem">
              <div fxLayout="column" fxFlex="20">
                <div class="indicator-company-option-title">
                  Progeso
                </div>
                <div class="indicator-company-option-content">{{ lease.progress | number:'0.0-2':'cl' }}%</div>
              </div>
              <div fxLayout="column" fxFlex="40">
                <div class="indicator-company-option-title">
                  Pagado <div class="title-icon"><div class="icon-primary"></div></div>
                </div>
                <div class="indicator-company-option-content">{{ lease.paid | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
              </div>
              <div fxLayout="column" fxFlex="40">
                <div fxLayout="row" fxLayoutAlign="start center" class="indicator-company-option-title">
                  adeudado <div class="title-icon"><div class="icon-accent"></div></div>
                </div>
                <div class="indicator-company-option-content">{{ lease.owed | currency: 'CLP':'symbol':'0.0-2':'cl' }}</div>
              </div>
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
  </section>

  <mat-card *ngIf="showGraphLine">
    <mat-card-header>
      <mat-card-title>Mora vs Retraso</mat-card-title>
      <mat-card-subtitle>Indicadores mora contra retraso</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-line [series]="lineDate$ | async"></app-line>
    </mat-card-content>
  </mat-card>
</section>
